.app_blue_theme {
    --bg-color: #5e69ee;
    --inverted-bg-color: #812d94;
    --primary-color: #39afea;
    --secondary-color: #faf4fb;

    // card
    --card-bg: #0d0d6b;

    // listbox
    --listbox-bg: #0d0d6b;
}
